<!DOCTYPE html>
<html lang="en">

<head>
  <title>GitStar</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="./jquery-3.2.1.js"></script>
  <link rel="stylesheet" href="../style.css">
</head>
<body bgcolor="-webkit-linear-gradient(to right, #f5af19, #f12711)" ;>
  <div class="loginbox">
    <img class="avatar">
    <h1>GitStar</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form id="todoInputForm">
      <div class="avatar"></div>
      <p>Username</p>
      <input type="text" placeholder="Enter your Github Username" class="input-username" id="login" />
      <input type="submit" id="searchbtn name="" value=" Search">
      <a href="https://help.github.com/en/articles/changing-your-github-username">Forgot your Username</a><br>
      <a href="https://github.com/join">Don't have an account?</a>
    </form>
  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <script>
    $(document).ready(function () {
      $('#todoInputForm').submit(function (e) {
        e.preventDefault()
        var input = $('#login').val()
        window.location.href = '/' + input
      })
    })
  </script>
</body>

</html>