body {
    background-color: white;
}

.git {
    content: url(../public/github-brands.svg)
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 200;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

#aka {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

@media only screen and (max-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: whitesmoke;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        height: 200;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .val {
      text-align: center;
  }

}
